* {
    padding: 0;
    margin: 0;
}


/* 全局背景 */

.page {
    background-color: #F7F7F9;
    width: 100%;
    height: 100%;
    list-style: none;
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}


/* 顶部边框 */

.page_head {
    width: 100%;
    height: 50px;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    background-color: #FFFFFF;
}


/* 搜索框 */

.page_head_search {
    width: 220px;
    height: 30px;
    font-family: "黑体";
    font-weight: bold;
    font-size: 14px;
    /* 文本不换行 */
    white-space: nowrap;
    /* 超出显示:... */
    text-overflow: ellipsis;
    /* 过长隐藏 */
    overflow: hidden;
    padding-left: 10px;
}


/* 勾选框 */

.page_head_select {
    margin-left: 15px;
    height: 25px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_head_select span {
    font-size: 24px;
    padding-right: 8px;
}


/* icon */

.page_head_icon {
    margin-left: 25px;
    border: 1px solid red;
}

.icon-share {
    margin-left: 10px;
}


/* 导航条 */

.page_head_navigation {
    border: 1px solid red;
    font-size: 16px;
    font-weight: bold;
    margin-left: 30px;
}


/* 如果属性不生效，注意各个标签的优先级 */

#nav_li {
    border-bottom: 2px solid blue;
    color: blue;
}

.page_head_navigation ul li {
    padding: 2px;
    display: inline;
    align-items: stretch;
}

.page_head_navigation ul li a {
    text-decoration: none;
    color: #58585C;
}


/* 内容区域 */

.page_content {
    width: 80%;
    border: 1px solid red;
}


/* 左边三个内容区域 */

.page_content_all {
    border: 1px solid red;
}


/* 项目介绍区域 */

.page_content_overview {
    height: 200px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_content_overview_single {
    width: 40%;
    border: 1px solid red;
}

.page_content_overview_single_row {
    display: flex;
    justify-content: center;
    align-items: baseline;
    border: 1px solid red;
}

.div1 {
    width: 100%;
    text-align: right;
    border: 1px solid red;
}

.div2 {
    width: 100%;
    text-align: left;
    padding-left: 20px;
    border: 1px solid red;
}


/* 项目成员区域 */

.page_content_member {
    height: 100px;
    border: 1px solid red;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.page_content_member_title {
    height: 100px;
    width: 15%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

.icon-morentouxiang:before {
    font-size: 32px;
    color: #E9E9E9;
}

.page_content_member_photo {
    height: 100px;
    width: 63%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid red;
}

.page_content_member_content {
    width: 12%;
    height: 100px;
    border: 1px solid green;
}

.page_content_member_content ul {
    /* border: 1px solid red; */
}

.page_content_member_content ul li {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 10px;
    /* border: 1px solid red; */
    list-style: none;
}


/* 项目账单区域 */

.page_content_file {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
}

.page_content_file_group {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

.page_content_file_single {
    width: 23%;
    height: 100px;
    background-color: #FFFFFF;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_content_file_single_left {
    width: 60%;
    height: 100px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.page_content_file_single_left div {
    height: 100px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}

.page_content_file_single_left span {
    font-size: 16px;
}

.page_content_file_single_right {
    width: 40%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    /* border: 1px solid red; */
}

.page_content_file_single_right div {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    /* border: 1px solid red; */
    align-content: space-between;
}

.icon-hetong:before {
    font-size: 36px;
    color: #7D8CFE;
    border: 1px solid #7D8CFE;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


/* 项目侧边栏区域 */

.page_content_sidebar {
    float: right;
    width: 20%;
    height: 800px;
    border: 1px solid red;
}